.post-details {
  padding: 0 10px;

  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    border-top: 1px solid rgb(203, 229, 230);
    
    font-size: .75rem;
  }

}