.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  // background-color: rgb(255, 0, 230);
  
  &__icon {
    width: 42px;
    margin-right: 10px;
  }
}

span {
  font-style: italic;
  color: rgb(186, 224, 225);
}