.sidebar {
  padding: 24px;
  grid-column: span 1;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  
  background-color:white;

  &__headline {
    margin-top: 0;
  }

  &__subreddit {
    display: flex;
    flex-direction: column;
  }
}
