html {
  margin: 0 auto;
}

.container {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(246, 246, 246);

  &__feed-sidebar {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    
  }

}

.feed__spinner {
  width: 60px;
}

@media screen and (max-width: 767px) {
  .container__feed-sidebar {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

@media screen and (min-width: 767px) {
  .container__feed-sidebar {
    width: 1000px;
  }
}



